apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  name: gcp-filestore-csi-driver-operator.v4.12.0
  namespace: placeholder
  annotations:
    categories: Storage
    "operatorframework.io/suggested-namespace": openshift-cluster-csi-drivers
    capabilities: Full Lifecycle
    containerImage: quay.io/openshift/origin-gcp-filestore-csi-driver-operator:latest
    support: Red Hat
    operators.openshift.io/infrastructure-features: '["csi"]'
    repository: https://github.com/openshift/gcp-filestore-csi-driver-operator
    createdAt: "2021-07-14T00:00:00Z"
    description: Install and configure GCP Filestore CSI driver.
    olm.skipRange: ">=4.11.0-0 <4.12.0"
  labels:
    operator-metering: "true"
    "operatorframework.io/arch.amd64": supported
    "operatorframework.io/arch.arm64": supported
spec:
  displayName: GCP Filestore CSI Driver Operator
  description: Operator that installs and configures the CSI driver for Amazon Elastic File System (GCP Filestore).
  # TODO: we don't have an icon yet
  # icon:
  #   - base64data: 
  #     mediatype: image/svg+xml
  keywords:
    - storage
    - filestore
  links:
    - name: Documentation
      url: https://github.com/openshift/gcp-filestore-csi-driver-operator
    - name: Source Repository
      url: https://github.com/openshift/gcp-filestore-csi-driver-operator
  version: 4.12.0
  maturity: preview
  maintainers:
    - email: aos-storage-staff@redhat.com
      name: Red Hat
  minKubeVersion: 1.21.0
  provider:
    name: Red Hat
  labels:
    alm-owner-metering: gcp-filestore-csi-driver-operator
    alm-status-descriptors: gcp-filestore-csi-driver-operator.v4.12.0
  selector:
    matchLabels:
      alm-owner-metering: gcp-filestore-csi-driver-operator
  installModes:
  - type: OwnNamespace
    supported: false
  - type: SingleNamespace
    supported: false
  - type: MultiNamespace
    supported: false
  - type: AllNamespaces
    supported: true
  install:
    strategy: deployment
    spec:
      permissions:
        - rules:
          - apiGroups:
            - ''
            resources:
            - pods
            - services
            - endpoints
            - events
            - configmaps
            - secrets
            verbs:
            - '*'
          - apiGroups:
            - apps
            resources:
            - deployments
            - daemonsets
            - replicasets
            verbs:
            - '*'
          - apiGroups:
            - monitoring.coreos.com
            resources:
            - servicemonitors
            verbs:
            - '*'
          serviceAccountName: gcp-filestore-csi-driver-operator
      clusterPermissions:
        - rules:
          - apiGroups:
            - security.openshift.io
            resourceNames:
            - privileged
            resources:
            - securitycontextconstraints
            verbs:
            - use
          - apiGroups:
            - operator.openshift.io
            resources:
            - clustercsidrivers
            verbs:
            - get
            - list
            - watch
            # The Config Observer controller updates the CR's spec
            - update
            - patch
          - apiGroups:
            - operator.openshift.io
            resources:
            - clustercsidrivers/status
            verbs:
            - get
            - list
            - watch
            - update
            - patch
          - apiGroups:
            - ''
            resourceNames:
            - extension-apiserver-authentication
            - gcp-filestore-csi-driver-operator-lock
            resources:
            - configmaps
            verbs:
            - '*'
          - apiGroups:
            - rbac.authorization.k8s.io
            resources:
            - clusterroles
            - clusterrolebindings
            - roles
            - rolebindings
            verbs:
            - watch
            - list
            - get
            - create
            - delete
            - patch
            - update
          - apiGroups:
            - ''
            resources:
            - serviceaccounts
            verbs:
            - get
            - list
            - watch
            - create
            - update
            - patch
            - delete
          - apiGroups:
            - coordination.k8s.io
            resources:
            - leases
            verbs:
            - '*'
          - apiGroups:
            - ''
            resources:
            - secrets
            verbs:
            - get
            - list
            - watch
          - apiGroups:
            - ''
            resources:
            - persistentvolumes
            verbs:
            - create
            - delete
            - list
            - get
            - watch
            - update
            - patch
          - apiGroups:
            - ''
            resources:
            - persistentvolumeclaims
            verbs:
            - get
            - list
            - watch
            - update
          - apiGroups:
            - storage.k8s.io
            resources:
            - volumeattachments
            verbs:
            - get
            - list
            - watch
            - update
            - delete
            - create
            - patch
          - apiGroups:
            - storage.k8s.io
            resources:
            - volumeattachments/status
            verbs:
            - patch
          - apiGroups:
            - storage.k8s.io
            resources:
            - storageclasses
            - csinodes
            verbs:
            - create
            - get
            - list
            - watch
            - update
            - delete
          - apiGroups:
            - snapshot.storage.k8s.io
            resources:
            - volumesnapshotclasses
            - volumesnapshots
            - volumesnapshotcontents
            verbs:
            - create
            - get
            - list
            - watch
            - update
            - delete
          - apiGroups:
            - apiextensions.k8s.io
            resources:
            - customresourcedefinitions
            verbs:
            - create
            - list
            - watch
            - delete
          - apiGroups:
            - '*'
            resources:
            - events
            verbs:
            - get
            - patch
            - create
            - list
            - watch
            - update
            - delete
          - apiGroups:
            - storage.k8s.io
            resources:
            - csidrivers
            verbs:
            - create
            - get
            - list
            - watch
            - update
            - delete
          - apiGroups:
            - cloudcredential.openshift.io
            resources:
            - credentialsrequests
            verbs:
            - '*'
          - apiGroups:
            - operator.openshift.io
            resources:
            - cloudcredentials
            verbs:
            - get
            - list
            - watch
          - apiGroups:
            - config.openshift.io
            resources:
            - infrastructures
            - proxies
            verbs:
            - get
            - list
            - watch
          - apiGroups:
            - authentication.k8s.io
            resources:
            - tokenreviews
            verbs:
            - create
          - apiGroups:
            - ""
            resources:
            - nodes
            verbs:
            - get
            - list
            - watch
          serviceAccountName: gcp-filestore-csi-driver-operator
      deployments:
        - name: gcp-filestore-csi-driver-operator
          spec:
            replicas: 1
            selector:
              matchLabels:
                app: gcp-filestore-csi-driver-operator
            template:
              metadata:
                annotations:
                  target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
                labels:
                  app: gcp-filestore-csi-driver-operator
              spec:
                serviceAccountName: gcp-filestore-csi-driver-operator
                containers:
                - name: gcp-filestore-csi-driver-operator
                  image: quay.io/openshift/origin-gcp-filestore-csi-driver-operator:latest
                  imagePullPolicy: IfNotPresent
                  args:
                    - "start"
                    - "-v=2"
                  env:
                    - name: POD_NAME
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.name
                    - name: DRIVER_IMAGE
                      value: quay.io/openshift/origin-gcp-filestore-csi-driver:latest
                    - name: PROVISIONER_IMAGE
                      value: quay.io/openshift/origin-csi-external-provisioner:latest
                    - name: RESIZER_IMAGE
                      value: quay.io/openshift/origin-csi-external-resizer:latest
                    - name: SNAPSHOTTER_IMAGE
                      value: quay.io/openshift/origin-csi-external-snapshotter:latest
                    - name: NODE_DRIVER_REGISTRAR_IMAGE
                      value: quay.io/openshift/origin-csi-node-driver-registrar:latest
                    - name: LIVENESS_PROBE_IMAGE
                      value: quay.io/openshift/origin-csi-livenessprobe:latest
                    - name: OPERATOR_NAME
                      value: gcp-filestore-csi-driver-operator
                    - name: KUBE_RBAC_PROXY_IMAGE
                      value: quay.io/openshift/origin-kube-rbac-proxy:latest
                  resources:
                    requests:
                      memory: 50Mi
                      cpu: 10m
                priorityClassName: system-cluster-critical
                # Strongly prefer a master node, but don't require it.
                # We want the same Deployment to work on hypershift,
                # without any master nodes.
                affinity:
                  nodeAffinity:
                    preferredDuringSchedulingIgnoredDuringExecution:
                    - weight: 100
                      preference:
                        matchExpressions:
                        - key: node-role.kubernetes.io/master
                          operator: In
                          values:
                          - ""
                tolerations:
                  - key: CriticalAddonsOnly
                    operator: Exists
                  - key: node-role.kubernetes.io/master
                    operator: Exists
                    effect: "NoSchedule"
