apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: gcp-filestore-csi-driver-controller-metrics-serving-cert
  labels:
    app: gcp-filestore-csi-driver-controller-metrics
  name: gcp-filestore-csi-driver-controller-metrics
  namespace: ${NAMESPACE}
spec:
  ports:
  - name: provisioner-m
    port: 443
    protocol: TCP
    targetPort: provisioner-m
  - name: resizer-m
    port: 445
    protocol: TCP
    targetPort: resizer-m
  - name: snapshotter-m
    port: 446
    protocol: TCP
    targetPort: snapshotter-m
  selector:
    app: gcp-filestore-csi-driver-controller
  sessionAffinity: None
  type: ClusterIP
